{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <h1 class="my-4 text-center text-lg-left">XILFTEN</h1>

        <div class="row text-center text-lg-left" id="movies">
            <h2 class="my-4 text-center text-lg-left">Movies</h2>
            {% for movie in movies %}
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{{ path('movie', {'id': movie.id}) }}">
                            <img class="card-img-top" src="http://placehold.it/400x300" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ movie.title }}</h4>
                                <button>{{ movie.upvotes }}</button>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row text-center text-lg-left" id="tvShows">
            <h2 class="my-4 text-center text-lg-left">TvShows</h2>
            {% for tvShow in tvShows %}
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{{ path('tvShow', {'id': tvShow.id}) }}">
                            <img class="card-img-top" src="http://placehold.it/400x300" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ tvShow.title }}</h4>
                                <button>{{ tvShow.upvotes }}</button>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}