{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <section>
            <h1 class="my-4">
                {{ episode.season.tvShow.title }}
                <small>Season {{ episode.season.number }}</small>
            </h1>

            <div class="row">
                <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/{{ episode.videoLink }}?rel=0"
                                allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="my-3">
                        Episode {{ episode.number }} :<br/>
                        <small>{{ episode.title }}</small>
                    </h3>
                    <p>{{ episode.synopsis }}</p>

                    {% if nextEpisode is not null %}
                        <h5 class="my-3">Next episode :</h5>
                        <button class="btn btn-dark btn-block">
                            <a href="{{ path('episode', {'id': nextEpisode.id}) }}">{{ nextEpisode.title }}</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </section>
        <section>
            <div class="row p-4">
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-dark btn-block">
                        <a href="{{ path('home') }}">
                            Retour
                        </a>
                    </button>
                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container-fluid p-0">
                {% for sea in episode.season.tvshow.seasons %}
                    <h3 class="my-4">Season {{ sea.number }}</h3>
                    <div class="row no-gutters popup-gallery">
                        {% for ep in sea.episodes %}
                            <div class="col-lg-3 col-sm-6">
                                <a class="media-box" href="{{ path('episode', {'id': ep.id}) }}">
                                    <img class="img-fluid" src="{{ ep.image }}" alt="">
                                    <div class="media-box-caption">
                                        <div class="media-box-caption-content">
                                            <div class="project-category text-faded">
                                                Episode {{ ep.number }}
                                                <br/>
                                                <small>{{ ep.title }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}