{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <section>
            <h1 class="my-4">{{ movie.title }}</h1>

            <div class="row">
                <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/{{ movie.videoLink }}?rel=0"
                                allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="my-3">{{ movie.title }}</h3>

                    <p>{{ movie.synopsis }}</p>

                    <h5 class="my-3">Casting :</h5>

                    <p>Director :</p>
                    <ul>
                        {% for director in movie.directors %}
                            <li>{{ director.fullname }}</li>
                        {% endfor %}
                    </ul>

                    <p>Actors :</p>
                    <ul>
                        {% for actor in movie.actors %}
                            <li>{{ actor.fullname }}</li>
                        {% endfor %}
                    </ul>

                    <button class="btn btn-dark"><i class="fas fa-heart"></i>{{ movie.upvotes }}</button>
                </div>
            </div>
        </section>
        <section>
            <div class="row p-4">
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-dark btn-block">
                        <a href="{{ path('home') }}">
                            Retour
                        </a>
                    </button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}