{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <section>
            <h1 class="my-4">{{ tvShow.title }}</h1>

            <div class="row">
                <div class="col-md-8">
                    <img class="img-fluid" src="http://placehold.it/750x500" alt="">
                </div>

                <div class="col-md-4">
                    <h3 class="my-3">{{ tvShow.title }}</h3>
                    <p>{{ tvShow.synopsis }}</p>
                    <h5 class="my-3">Casting :</h5>

                    <p>Director :</p>
                    <ul>
                        {% for director in tvShow.directors %}
                            <li>{{ director.fullname }}</li>
                        {% endfor %}
                    </ul>

                    <p>Actors :</p>
                    <ul>
                        {% for actor in tvShow.actors %}
                            <li>{{ actor.fullname }}</li>
                        {% endfor %}
                    </ul>
                    <button class="btn btn-dark"><i class="fas fa-heart"></i>{{ tvShow.upvotes }}</button>
                </div>
            </div>
        </section>
        <section>
            <div class="row p-4">
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-dark btn-block">
                        <a href="{{ path('home') }}">
                            Retour
                        </a>
                    </button>
                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container-fluid p-0">
                {% for season in seasons %}
                    <h3 class="my-4">Season {{ season.number }}</h3>
                    <div class="row no-gutters popup-gallery">
                        {% for episode in season.episodes %}
                            <div class="col-lg-3 col-sm-6">
                                <a class="media-box" href="{{ path('episode', {'id': episode.id}) }}">
                                    <img class="img-fluid" src="{{ episode.image }}" alt="">
                                    <div class="media-box-caption">
                                        <div class="media-box-caption-content">
                                            <div class="project-category text-faded">
                                                Episode {{ episode.number }}
                                                <br/>
                                                <small>{{ episode.title }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}