{% extends 'layout.html.twig' %}
{% block body %}
    <div id="login-body">
        <div class="login-form">
            <div class="my-4 text-center text-lg-center">
                <img class="img-fluid" src="{{ asset('style/images/xilften.png') }}" alt="">
                <h2>Registration</h2>
            </div>{{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <label for="avatar">{{ form_label(form.avatar) }}</label>
                <div class="form-control-file">
                    {{ form_errors(form.avatar) }}
                    {{ form_widget(form.avatar) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fullname">{{ form_label(form.fullname) }}</label>
                <div class="form-control">
                    {{ form_errors(form.fullname) }}
                    {{ form_widget(form.fullname) }}
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{ form_label(form.email) }}</label>
                <div class="form-control">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-group">
                <label for="password">{{ form_label(form.password) }}</label>
                <div class="form-control">
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password) }}
                </div>
            </div>
            <div class="form-group">
                <div class="btn btn-dark btn-block">
                    {{ form_row(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}

            <div class="text-center">
                <h5><a href="{{ path('login') }}">Already registred ?</a></h5>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}